<!DOCTYPE html>
<html>
<head>
    <title>Edit Banner</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div class="registration-form">
        <form action="/admin/postEditBanner?id={{bannerDetails._id}}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <h5 class="text-danger">ADMIN EDIT BANNER</h5>
            <br>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control item" id="name" name="name" placeholder="Product Name" value="{{bannerDetails.name}}">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control item" id="title" name="title" placeholder="Banner title" required value="{{bannerDetails.title}}">
            </div>
            <div class="form-group">
                <label for="banimg">Image1</label>
                <img src="/banner-images/{{bannerDetails.banimg}}" alt="" style="width:50px;height:50px;padding-bottom:10px" id="imgView">
                <input type="file" class="form-control" id="banimg" name="banimg" onchange="viewImage(event)">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-block create-account">SAVE</button>
            </div>
        </form>
    </div>

    <script>
        function viewImage(event) {
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0]);
        }

        function validateForm() {
            var name = document.getElementById('name').value;
            var title = document.getElementById('title').value;
            var banimg = document.getElementById('banimg').value;

            if (name.trim() === '') {
                swal('Error', 'Name field is required.', 'error');
                return false;
            }

            if (title.trim() === '') {
                swal('Error', 'Title field is required.', 'error');
                return false;
            }

            if (banimg === '') {
                swal('Error', 'Please select an image.', 'error');
                return false;
            }

            // Assuming the form submission is successful
            swal('Success', 'banner successfully!', 'success');

            return true;
        }
    </script>
</body>
</html>
