<body>
  <div class="registration-form">
    <form action="/admin/addCatogories" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
      <h5 class="text-danger">ADD CATEGORIES</h5>
      <br>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control item" id="category" name="category" placeholder="Product Category" required>
      </div>
      <div class="form-group">
        <label for="subCategory">Sub Category</label>
        <input type="text" class="form-control item" id="subCategory" name="subCategory" placeholder="Product Sub Category" required>
      </div>
      <div class="form-group">
        <label for="categoryimage">Image</label>
        <input type="file" class="form-control item" id="categoryimage" name="categoryimage" required>
      </div>
      <div class="form-group text-center ">
        <button type="submit" class="btn btn-block create-account">SAVE</button>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function validateForm() {
      const category = document.getElementById("category").value;
      const subCategory = document.getElementById("subCategory").value;
      const categoryImage = document.getElementById("categoryimage").value;

      if (category.trim() === "" || subCategory.trim() === "" || categoryImage.trim() === "") {
        Swal.fire({
          icon: 'error',
          title: 'Validation Error',
          text: 'Please fill in all fields',
        });
        return false;
      }

      Swal.fire({
        icon: 'success',
        title: 'Category Added',
        text: 'Category added successfully',
      });

      return true;
    }
  </script>
</body>
