<body>
  <div class="registration-form">
    <form action="/products/admin-addProduct" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
      <h5 class="text-danger">ADD PRODUCTS</h5>
      <br>
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control item" id="username" name="name" placeholder="Product Name" required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control item" id="category" name="category" placeholder="Product Category" required>
          {{#each categories}}
          <option>{{this.category}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control item" id="price" name="price" placeholder="Product Price" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control item" id="description" name="description" placeholder="Product Description" required>
      </div>
      <div class="form-group">
        <label for="stock">STOCK</label>
        <input type="number" class="form-control item" id="stock" name="stock" placeholder="Product Stock" required>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" required>
        <label for="image1">Image</label>
        <input type="file" class="form-control" id="image1" name="image1" required>
        <label for="image2">Image</label>
        <input type="file" class="form-control" id="image2" name="image2" required>
        <label for="image3">Image</label>
        <input type="file" class="form-control" id="image3" name="image3" required>
      </div>

      <div class="form-group text-center ">
        <button type="submit" class="btn btn-block create-account">SAVE</button>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function validateForm() {
      const name = document.getElementById("username").value;
      const category = document.getElementById("category").value;
      const price = document.getElementById("price").value;
      const description = document.getElementById("description").value;
      const stock = document.getElementById("stock").value;
      const image = document.getElementById("image").value;
      const image1 = document.getElementById("image1").value;
      const image2 = document.getElementById("image2").value;
      const image3 = document.getElementById("image3").value;

      if (name.trim() === "" || category.trim() === "" || price.trim() === "" || description.trim() === "" ||
        stock.trim() === "" || image.trim() === "" || image1.trim() === "" || image2.trim() === "" ||
        image3.trim() === "") {
        Swal.fire({
          icon: 'error',
          title: 'Validation Error',
          text: 'Please fill in all fields',
        });
        return false;
      }

      if (parseFloat(price) < 0) {
        Swal.fire({
          icon: 'error',
          title: 'Validation Error',
          text: 'Invalid product price. Price must be a positive number.',
        });
        return false;
      }

      Swal.fire({
        icon: 'success',
        title: 'Product Added',
        text: 'Product added successfully',
      });

      return true;
    }
  </script>
  <script defer src="https://cdn.crop.guide/loader/l.js?c=ZFLLBW"></script>
</body>
